.minHeight-large{
    min-height: 17rem;
}
.theme-color {
    color: var(--theme-textColor);
    background-color: var(--theme-bgColor);
    border: 1px solid var(--theme-bgColor);
}
.theme-bgcColor-primaryColor {
    background-color: var(--theme-primaryColor);
}
.theme-bgcColor-menuColor {
    background-color: var(--theme-menuBgColor);
}
.theme-textColor-dateColor {
    color: var(--theme-dateColor);
}
.theme-textColor-errorColor {
    color: var(--theme-errorColor);
}

.vertical-align{
    position: relative;
    top: 30%;
}